<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'ico.html' %}
</head>
<body>
    <div id="container">
        <div class="password_box">
            <h1>Login to edit</h1>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter the administrator password">
            <a id="Login_button" href="">Login</a>
            <a id="Forgotten" href="/no_forgot_password">Forgot password</a>
        </div>
    </div>
</body>
</html>