<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'ico.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
    <div id="container">
        <div class="password_box">
            <h1>Login to edit</h1>
            <p>Password</p>
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input id="Password_input" type="password" name="password" placeholder="Enter the administrator password">
            <a id="Login_button" href="javascript:login(event)">Login</a>
            <a id="Forgotten" href="">Forget password</a>
            <a class="cancel" href="/">back</a>
        </div>
    </div>
    <script type="text/javascript">
        function login(event) {
            var Login_value = document.getElementById("Password_input").value;
            $.ajax({
                url: "/get_password",
                type: "POST",
                data: {"user_password": Login_value}
            }).done(function() {
                window.open("get_password", "_self");
            });
        }
    </script>
</body>
</html>