<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% include 'ico.html' %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="main">
				<h1>籃球管理系統</h1>
				<button onclick="get_ball(event)">借</button>
				<button onclick="return_ball_back(event)">還</button>
				<button class="setting" onclick="settings(event)">設置</button>
				<div id="weather">
					<p id="temp">...</p>
					<p id="type">...</p>
					<p id="rain">...</p>
				</div>
				<p id="warning">天氣資訊來自<a id="from_place" href="">http://home.puiching.edu.mo/~pcama/</a></p>
			</div>
		</div>
	<script type="text/javascript">
		var temp = document.getElementById("temp");
		var type = document.getElementById("type");
		var rain = document.getElementById("rain");
		var rainning_count, temperature;

		$.ajax({
			method: "GET",
			url: "/username",
			data: {}
		});
		
		function refresh_weather() {
			$.ajax({
				url: "/get_weather",
				method: "GET",
				data: {}
			}).done(function(response) {
					temp.innerHTML = response.temp;
					type.innerHTML = response.type;
					rain.innerHTML = response.rain;
					raining_count = rain.innerHTML;
					temperature = temp.innerHTML;
			});
		}
		setInterval(refresh_weather(), 1000 * 60 * 60);
		
		
		function get_ball(event) {
            get_ball_borrow();
		}

		function get_ball_borrow(event) {
			$.ajax({
				method: "POST",
				url: "/return_status_setter",
				data: {'val': false}
			});
			window.open("/camera_recognition", "_self");
		}
		function detect_raining_count() {
			raining_count = raining_count.replace("mm", "");
			rainning_count = parseInt(raining_count);
			return rainning_count >= 0.5
		}
		function detect_temperature() {
			temperature = temperature.replace("℃", "");
			return temperature >= 30
		}
		function return_ball_back(event) {
			$.ajax({
				method: "POST",
				url: "/return_status_setter",
				data: {'val': true}
			});
			window.open("/camera_recognition", "_self");
		}
		function settings(event) {
			window.open("/enter_admin_password", "_self")
		}

	</script>
	</body>	
</html>
