<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% include 'ico.html' %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="main">
				<h1 id="process">處理中</h1>
				<img src="{{url_for('static', filename='temp.jpg')}}">
			</div>
		</div>
		<script type="text/javascript">
			var processing = document.getElementById("process");
			var dot = "";
			var ip;
			function refresh_dot() {
				dot = dot + "."
				if (dot == "....") {
					dot = "";
				}
				processing.innerHTML = "處理中" + dot;
			}
			function refresh_server_IP() {
				$.ajax({
					type: "GET",
					url: "http://localhost:8540/Server_ip",
					data: {}
				}).done(function(response){
					ip = response.ip;
					console.log(ip);
				});
			}

			function check_face() {
				$.ajax({
					type: "GET",
					url: "http://" + ip + ":4000",
					data: {}
				}).done(function(response) {
					if (username != '') {
						window.open("/welcome", "_self");
					} else {
						window.open("/denied", "_self");
					}
				});
			}

			setInterval(function() {
				check_face();
				refresh_dot();
				refresh_server_IP();
			}, 1000);

		</script>
	</body>
</html>
