<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% include 'ico.html' %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="main">
				<h1 id="process">處理中</h1>
				<img src="{{url_for('static', filename='temp.jpg')}}">
			</div>
		</div>
		<script type="text/javascript">
			var processing = document.getElementById("process");
			var dot = "";
			var times = 0;
			function refresh_dot() {
				dot = dot + "."
				if (dot == "....") {
					dot = "";
				}
				processing.innerHTML = "處理中" + dot;
			}

			function situation_username() {
				$.ajax({
					type: "GET",
					url: "/username",
					data: {}
				}).done(function(response) {
					if (response.user != "unknown") {
						if (response.user != "") {
							$.ajax({
								method: "GET",
								url: "/return_status_getter",
								data: {}
							}).done(function(response) {
								if (response.status == "false") {
									window.open("/welcome", "_self");
								} else {
									window.open("/return_ball", "_self");
								}
							});
						} else {
							window.open("/denied", "_self");
						}
					}
				});
			}

			var check_username_permission = setInterval(function() {
				refresh_dot();
				situation_username();
				times += 1;
			}, 1000);
			setInterval(function() {
				if (times == 6) {
					clearInterval(check_username_permission);
					window.open("/Server_not_responsing", "_self");
				}
			}, 1000);

		</script>
		</body>
	</html>
