<!DOCTYPE html>
<html>
	<head>
		<title>籃球管理系統</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	</head>
	<body>
		<a href="/" class="cancel">取消</a>
		<div id="container">
			<div id="main">
				<h1>請看鏡頭</h1>
				<img src="{{url_for('video_feed')}}">
			</div>
		</div>
		<script type="text/javascript">
			function auto_checking() {
				$.ajax({
					url: "/success",
					type: "GET",
					data: {},
				}).done(function(response){
					if (response.check == true){
						window.open("/recognize_image", "_self");
						$.ajax({
							url: "/success",
							type: "POST",
							data: {"check":false}
						});
					}
				});
			}
			function auto_check_camera() {
				$.ajax({
					url: "/cv2_empty",
					type: "GET",
					data: {}
				}).done(function(response){
					if (response == true) {
						window.open("/camera_is_empty", "_self");
						$.ajax({
							url: "/cv2_empty",
							type: "POST",
							data: {false}
						});
					}
				});
			}
			
			setInterval(function() {
				auto_checking();
				auto_check_camera();
			}, 1000);
		</script>
	</body>
</html>
