<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% include 'ico.html' %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	</head>
	<body>
		<a href="/" class="cancel">取消</a>
		<div id="container">
			<div id="main-camera">
				<h1>請看鏡頭</h1>
				<img src="{{url_for('video_feed')}}" style="width: 180px; height: 180px;">
			</div>
		</div>
		<script type="text/javascript">
			var check, empty;
			function auto_checking() {
				$.ajax({
					url: "/success",
					type: "GET",
					data: {},
				}).done(function(response){
					check = response.check;
				});
			}
			function auto_check_camera() {
				$.ajax({
					url: "/cv2_empty",
					type: "GET",
					data: {}
				}).done(function(response){
					empty = response.empty;
				});
			}
			
			setInterval(function() {
				auto_checking();
				auto_check_camera();
				if (check == true){
					window.open("/recognize_image", "_self");
				}
				if (empty == true){
					window.open("/camera_is_empty", "_self");
				}
			}, 1000);
		</script>
	</body>
</html>
