<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% include 'ico.html' %}
</head>
<body>
    <a href="/" class="cancel">取消</a>
    <div id="container">
        <div id="main">
            <h1 id="get_ball">請放入球</h1>
        </div>
    </div>
    <script type="text/javascript">
        var get = document.getElementById("get_ball");
			var dot = "";
			function refresh_dot() {
			    dot = dot + "."
				if (dot == "....") {
					dot = "";
				}
				get.innerHTML = "請放入球" + dot;
			}
			function get_distance() {
			    $.ajax({
			        type: "GET",
			        url: "/ultrasonic_distance",
			        data: {}
			    }).done(function(response) {
			        if (response.distance <= 5) {
			            window.open("/return_success");
			        }
			    });
			}
		setInterval(function() {
			refresh_dot();
		}, 1000);
		setInterval(function() {
		    get_distance();
		});
    </script>
</body>
</html>