<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'ico.html' %}
    {% from "Toggle_switch.html" import toggle_switch %}
</head>
<body>
    <div id="container">
        <div class="settings-bar">
            <h1>Settings</h1>
            <ul class="settings-list">
                <li><p class="Settings-messages">Disable or enable borrow features<span class="Toggle_button">{{ toggle_switch() }}</span></p></li>
                <div class="seperator-line"></div>
                <li><p class="Settings-messages">Disable or enable return ball feature</p><span class="Toggle_button">{{ toggle_switch() }}</span></li>
                <div class="seperator-line"></div>
                <li><h1 class="Settings-messages">Add new user</h1><a class="sign_up">Start</a></li>
                <div class="seperator-line"></div>
                <a href="/" class="cancel">Cancel</a>
            </ul>
        </div>
    </div>
</body>
</html>
