<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'ico.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
    <div id="container">
        <div class="settings-bar">
            <h1>enter the new username</h1>
            <input type="text" id="new-user" placeholder="Enter your username" name="new_username">
            <input type="submit" value="Sign up" onclick="send_username(event)">
            <p id="warning-message" style="color: red">Please enter a new username</p>
        </div>
    </div>
    <script type="text/javascript">
        function send_username(event) {
            var new_value = document.getElementById("new-user");
            var warning = document.getElementById('warning-message');
            if (new_value.value != "") {
                $.ajax({
                    url: "/get_username_setter",
                    type: "POST",
                    data: {"new_user": new_value.value}
                }).done(function () {
                    window.open("/sign_up", "_self")
                });
            } else {
                warning.style['display'] = "block";
            }
        }
    </script>
</body>
</html>
