<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'ico.html' %}
    {% from "Toggle_switch.html" import toggle_switch %}
</head>
<body>
    <div id="container">
        <div class="settings-bar">
            <h1>Settings</h1>
            <ul class="settings-list">
                <li><p class="Settings-messages">Trun on or off borrow feature</p><span>{{ toggle_switch() }}</span></li>
                <div class="seperator-line"></div>
                <li><p class="Settings-messages">Turn on or off return ball feature</p><span>{{ toggle_switch }}</span></li>
                <div class="seperator-line"></div>
            </ul>
        </div>
    </div>
</body>
</html>
