<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'ico.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
    <div id="container">
        <div id="main">
            <h1>Please look at the camera</h1>
            <p>Recommend images: 4, Images captured: <span id="a-message">0</span></p>
            <img src="{{url_for('sign_up_feed')}}" alt="Face image">
            <div style="width: 100%; text-align: center;">
                <button class="forward-sign_up" onclick="Capture_image(event)">Capture</button>
                <button class="forward-sign_up" onclick="Start_sign_up(event)">forward</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let a_message = document.getElementById("a-message");
        let amount = 0;

        function Start_sign_up(event) {
            window.open("/Loading_new_user", "_self");
        }
        function Capture_image(event) {
            $.ajax({
                type: "POST",
                url: "/capture_image_status_getter",
                data: {'status': true}
            });
            a_message.innerHTML = amount;
            amount++;
        }
    </script>
</body>
</html>