body {
    margin: 0;
	background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/static/img/background.jpg");

}

html, body{
	font-family: sans-serif;
	color: white;
}

#main {
	width: 640px;
	height: 300px;
	margin-left: 50%;
    margin-top: 5%;
	position: relative;
	transform: translate(-50%, 0%);
	text-align: center;
    font-weight: 500;
}

#main h1 {
	margin: 0;
	text-align: center;
	line-height: 64px;
	color: white;
    font-weight: 500;
}

#main .user-selections {
	width: 200px;
	height: 200px;
	font-size: 48px;
	outline: none;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    cursor:pointer;
    overflow: hidden;
    color: white;
    border-radius: 15px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

#main .user-selections:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

#main .setting {
	width: 80px;
	height: 50px;
	font-size: 16px;
	position: absolute;
	right: 30px;
	top: 214px;
}

.cancel {
    position: relative;
    text-decoration: none;
    color: #A9A9A9;
    padding: 5px 20px;
    float: right;
    margin-top: 18px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;

}

.cancel:hover {
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

#warning {
	font-size: 18px;
	color: white;
}	

#weather {
	width: 100px;
	position: absolute;
	left: 30px;
	top: 64px;
	font-size: 24px;
	color: white;
	margin-top: 30px;
}

.problem_camera {
    font-size: 24px;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    margin: auto 10px;
}
.problem_camera:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

#back {
    font-size: 24px;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    transition: all 0.5s ease-in-out;
}


#back:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

#from_place {
    text-decoration: none;
    color: #00FFFF;
}

#ball_success{
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

#ball_success:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

.password_box {
    position: relative;
    width: 360px;
    height: 220px;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    font-family: sans-serif;
    font-weight: 500;
}

.password_box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.password_box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    position: relative;
}

.password_box input {
    position: relative;
    text-align: center;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 45px;
    font-size: 15px;
    color: white;
    overflow: hidden;
}

.password_box #Login_button {
    text-align: center;
    float: right;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 191, 255, 0.5);
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.password_box #Login_button:hover {
    background-color: rgb(0, 191, 255, 0.8);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.password_box #Forgotten {
    position: relative;
    margin-top: 100px;
    color: #00FFFF;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.password_box #Forgotten:hover {
    border-radius: 15px;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.password_box i{
    position: absolute;
    width: 26px;
    float: left;
    text-align: left;
    clear: both;
    margin-right:15px;
}

.settings-bar {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    font-family: sans-serif;
    text-align: center
}

.settings-bar h1 {
    margin: 0;
    padding: 0 0 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.settings-bar input[type = "text"] {
    display: block;
    position: relative;
    text-align: center;
    width: 50%;
    /*border-bottom: 1px solid #fff;*/
    background: transparent;
    outline: none;
    height: 45px;
    font-size: 15px;
    color: white;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 24px;
    border: 2px solid #3498db;
    transition: 0.25s;
}

.settings-bar input[type = "submit"] {
    display: block;
    background: none;
    overflow: hidden;
    height: 45px;
    color: white;
    border-radius: 24px;
    margin: 20px auto;
    outline: none;
    font-size: 15px;
    border: 2px solid #2ecc71;
    transition: 0.25s;
    width: 30%;
}


.settings-bar input[type = "text"]:focus {
    width: 100%;
    border-color: #2ecc71;
}
.settings-bar input[type = "submit"]:hover {
    background: #2ecc71;
    width: 80%;
}

.settings-bar p {
    display: none;
}

.sign_up {
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 191, 255, 0.8);
    padding: 5px 20px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.sign_up:hover {
    background-color: rgb(0, 191, 255, 0.5);
    cursor: pointer;
}

.forward-sign_up {
    background: none;
    border: 2px solid #2ecc71;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 15px;
    transition: all 0.1s ease-in-out;
}

.forward-sign_up:hover {
    background: #2ecc71;
    transition: all 0.1s ease-in-out;
}

.loading {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e74c3c;
    position: relative;
    animation: a1 2s linear infinite;
}

.loading::before, .loading::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before {
    border-top: 10px solid #f1c40f;
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid #3498db;
    transform: rotate(240deg);
}

.loading span {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}

#Loading-main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error_message {
    font-size: 24px;
}
