body {
	margin: 0;
	background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/static/img/background.jpg");
}

html, body, button{
	font-family: Microsoft JhengHei;
	color: white;
}

#main {
	width: 600px;
	height: 300px;
	margin-left: 50%;
    margin-top: 5%;
	position: relative;
	transform: translate(-50%, 0%);
	text-align: center;
}

h1 {
	margin: 0;
	text-align: center;
	line-height: 64px;
	color: white;
}

#main button {
	width: 200px;
	height: 200px;
	font-size: 48px;
	outline: none;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    cursor:pointer;
    overflow: hidden;
    color: white;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

#main button:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

#main .setting {
	width: 50px;
	height: 50px;
	font-size: 16px;
	position: absolute;
	right: 25px;
	top: 214px;
}

.cancel {
    position: relative;
    text-decoration: none;
    color: #A9A9A9;
    padding: 5px 20px;
    float: right;
    margin-top: 18px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;

}

.cancel:hover {
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

#warning {
	font-size: 20px;
	color: white;
}	

#weather {
	width: 100px;
	position: absolute;
	left: 0;
	top: 64px;
	font-size: 24px;
	color: white;
	margin-top: 30px;
}

.problem_camera {
    font-size: 24px;
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.problem_camera:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

#back {
    font-size: 24px;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    transition: all 0.5s ease-in-out;
}


#back:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

#from_place {
    text-decoration: none;
    color: #00FFFF;
}

#ball_success{
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

#ball_success:hover {
    background-color: rgb(255, 140, 0, 0.8);
    transition: all 0.5s ease-in-out;
}

.password_box {
    position: relative;
    width: 360px;
    height: 420px;
    background-color: rgb(0, 0, 0, 0.5);
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    font-family: Helvetica;
}

.password_box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.password_box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    position: relative;
}

.password_box input {
    position: relative;
    text-align: center;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 45px;
    font-size: 15px;
    color: white;
    overflow: hidden;
}

.password_box #Login_button {
    text-align: center;
    float: right;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 191, 255, 0.8);
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

.password_box #Login_button:hover {
    background-color: rgb(0, 191, 255, 0.5);
    cursor: pointer;
}

.password_box #Forgotten {
    position: absolute;
    margin-top: 50px;
    color: #00FFFF;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.password_box #Forgotten:hover {
    border-radius: 15px;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.password_box i{
    position: absolute;
    width: 26px;
    float: left;
    text-align: left;
    clear: both;
    margin-right:15px;
}

.settings-bar {
    position: relative;
    width: 400px;
    height: 600px;
    background: rgb(0, 0, 0, 0.5);
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

.settings-list {
    list-style: none;
}

.settings-list > p {
    position: relative;
}
.settings-list > span {
    position: relative;
    left: 50%;
}
